// main page
.home {
  position: absolute;
  top: 240;
  right: 50;
};

.homepop {
  display: none;
  top: 240;
  right: 100;
}

.home:hover + .homepop {
  display: block;
}

#aboutpop {
  top: 43px;
  left: 90px;
};

#artpop {
  top: 275px;
  right: 25px;
};

#workspop {
  top: 180px;
}

#contactpop {
  top: 192px;
  left: 200px;
}

#codepenpop {
  top: 25px;
  left: 728px;
}

#githubpop {
  top: 110px;
  right: 155px;
}

// programming
#dicepop {
  top: 250px;
  right: 205px;
};

#bekpop {
  top: 280px;
  right: 50px;
};

#taxpop {
  top: 300px;
  left: 325px;
};

#periodicpop {
  top:240px;
  left: 175px
}
