#aboutpop {
  top: 43px;
  left: 90px;
};

#artpop {
  top: 275px;
  right: 25px;
};

#workspop {
  top: 180px;
}

#contactpop {
  top: 192px;
  left: 200px;
}

#codepenpop {
  top: 25px;
  left: 728px;
}

#githubpop {
  top: 110px;
  right: 155px;
}
