#about {
  top: 43px;
  left: 90px;
};

#art {
  top: 275px;
  right: 90px;
  z-index: 100;
};

#works {
  top: 200px;
  left: 630px;
}

#contact {
  top: 192px;
  left: 200px;
}

#codepen {
  top: 25px;
  left: 728px;
}

#github {
  top: 110px;
  right: 135px;
}
